<router-outlet></router-outlet>

<div class="smsDiv">
  <h1>Send An SMS from Spring Boot Application</h1>
  <p>Hi Test Branch</p>
  <form>
    <tr>
      <td>Customer Details</td>
      <td>
        <input class="smsNames"  type="text" name="customer_details"  [(ngModel)]="sms.customer_details"> 
      </td>
      </tr>
      <tr>
        <td>Phone Number</td>
      <td><input  class="smsNames" type="text" name="phone_number"  [(ngModel)]="sms.phone_number"> </td>
      </tr>
      <tr>
        <td>Comments</td>
      <td><textarea class="smsNamesText" name="comments"  [(ngModel)]="sms.comments"></textarea> </td>
      </tr>
      <tr>
        <td>Order Details</td>
      <td><input  class="smsNames" name="order_details"  [(ngModel)]="sms.order_details"> </td>
      </tr>
      <tr>
        <td>Customer Requirements</td>
      <td><input  class="smsNames" name="customer_requirments"  [(ngModel)]="sms.customer_requirments"></td>
    </tr>
    <button class="senSMS" type="submit" value="Send" (click)="sendSMS()">Send</button>
  </form>
</div>
