.smsDiv{
    margin-left: 300px;
    margin-top: 30px;
    border: 1px solid #ced4da;
    border-radius: 25px;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.9));
    width: 800px;
    height: 600px;
}
.smsNames{
    border: 1px solid #ced4da;
    border-radius: .25rem;
    color: #fff;
    width: 90%;
    height: 35px;
margin-top: 30px;
margin-left: 20px;
}
.smsNamesText{
    border: 1px solid #ced4da;
    border-radius: .25rem;
    color: #fff;
    width: 90%;
    height: 80px;
margin-top: 30px;
margin-left: 20px;
}
.senSMS{
    background: cornflowerblue;
    border-radius: 25px;
    border: 2px solid cornflowerblue;
    color: #fff;
    width: 20%;
    height: 35px;
margin-top: 30px;
margin-left: 200px;
}
